// =====================================================
//   Sections
//   w3c.github.io/html/sections.html
// ======================================================
// body, header, nav, main, aside, footer, article, section

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--black-80);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height-text);
  margin: var(--spacing-x-large);
  max-width: var(--max-width);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

main,
header,
footer,
aside {}

// Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
